<div class="modifiers">
    <div><button (click)="shuffleDeck()">Shuffle</button></div>     
</div>
<a routerLink="/flashcards"><button type ="button" class="btn btn-secondary" >Back</button></a>
<div class="container flashcard">
  <div class ="card" *ngIf="display" (click)="cardFlip()">
    <div class ="content">
      <p *ngIf="isText">{{display}}</p>
      <img *ngIf="isImage" src={{display}} />
    </div>
  </div>
  <div class="btn-group" role="group" aria-label="Navigation">
      <button type="button" class="btn btn-secondary" (click)="lastCardClick()">Previous</button>
      <button type="button" class="btn btn-secondary" (click)="nextCardClick()">Next</button>
  </div>
</div>
