<div class="container-fluid" id="cards">
    <div class="list-group">
        <div class="card" *ngFor="let flashcard of deck">
            <img class="card-img-top" *ngIf="flashcard.frontContentType == 'image'" src={{flashcard.frontContent}} alt="Card image cap">
            <img class="card-img-top" *ngIf="flashcard.backContentType == 'image'" src={{flashcard.backContent}} alt="Card image cap">                    
            <div class="card-block">
                <p class="card-text" *ngIf="flashcard.frontContentType == 'text'">{{flashcard.frontContent}}</p>
                <p class="card-text" *ngIf="flashcard.backContentType == 'text'">{{flashcard.backContent}}</p>
            </div>
        </div>
    </div>
</div>



